<div class="d-flex align-items-center justify-content-center flex-column mt-5">
  <img
    src={{user.profilePic}}
    alt="user profile"
    class="rounded-circle"
    height="120"
    width="120"
  />
  <h1 class="text-center mt-5">{{user.username}}</h1>
</div>
