<div class="d-flex align-items-center flex-column mt-5">
  <img
    src={{user.profilePic}}
    alt="user profile"
    class="rounded-circle"
    height="120"
    width="120"
  />
  <h1 class="text-center mt-5">{{user.username}}</h1>
  <button
    class="btn btn-secondary"
    data-bs-toggle="modal"
    data-bs-target="#uploadModal"
  >+ Añadir foto de perfil
    <span class="fa-regular fa-image"></span></button>

  <!--image upload modal-->
  <div
    class="modal fade"
    id="uploadModal"
    tabindex="-1"
    aria-hidden="true"
    data-backdrop="false"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Subir imágen de
            perfil</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="uploadForm">
            <div class="d-flex">
              <input
                class="form-control"
                type="file"
                id="formFile"
                name="profile_pic"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
          <button
            id="uploadImageButton"
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
