<div class="p-100 rounded px-4 pb-1 pt-4" style="background-color: #fff;">
    <h4 class="text-center mb-3">Login</h4>
    <form action="" id="loginForm">
        <input
            type="email"
            class="form-control mb-3"
            placeholder="E-Mail"
            required
        />
        <input
            type="password"
            class="form-control mb-3"
            placeholder="Contraseña"
            required
        />
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesion</button>
    </form>
    <p class="mt-4">¿No tienes cuenta?
        <a href="/register" class="link">Registrate aquí</a></p>
</div>