<div class="p-100 rounded px-4 pb-1 pt-4" style="background-color: #fff;">
    <h4 class="text-center mb-3">Registro</h4>
    <form action="" id="registerForm">
        <input
            type="text"
            class="form-control mb-3"
            placeholder="Nombre de Usuario"
            required
        />
        <input
            type="email"
            class="form-control mb-3"
            placeholder="E-Mail"
            required
        />
        <input
            type="password"
            class="form-control mb-3"
            placeholder="Contraseña"
            required
        />
        <button type="submit" class="btn btn-primary w-100">Registrar Usuario</button>
    </form>
</div>