<html lang="en">

<head>
  <title>Dates App - {{subtitle}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <!--Font awesome icons-->
  <script src="https://kit.fontawesome.com/e0497758cb.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/public/img/favicon.png" />
</head>

<!--navbar-->
<header>
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <a href="/home" class="navbar-brand"><strong>💖 Dates App</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#datesAppNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="datesAppNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home"><span class="fa-solid fa-home"></span>
              Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/match/chats">
              <span class="fa-solid fa-message"></span>
              Mensajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/likes">
              <span class="fa-solid fa-crown"></span>
              Likes a tí
            </a>
          </li>
        </ul>
        <div class="dropstart">
          <button class="dropdown-toggle btn" data-bs-toggle="dropdown"><span class="fa-solid fa-user"></span></button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/profile">Ir a tu perfil
                <img src={{user.profilePic}} alt="user profile pic" class="rounded-circle" width="30" height="30"
                  style="object-fit: cover;" /></a></li>
            <li>
              <a href="#" class="dropdown-item">Unirte a Premium<span class="fa-solid fa-crown text-warning"></span></a>
            </li>
            <li>
              <button class="dropdown-item text-danger" id="logoutButton">
                <span class="fa-solid fa-arrow-right-from-bracket"></span>
                Cerrar sesión</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<body>
  <main style="min-height: 100vh;" class="position-relative d-flex flex-direction-column justify-content-center pt-4">
    <div class="w-100 h-100 position-absolute align-items-center justify-content-center d-none spinner-container"
      style="background-color: #000a;">
      <div class="spinner-border text-info" role="status"></div>
    </div>
    {{{body}}}
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/public/js/helper.js"></script>
  <script src="/public/js/home.js"></script>
  {{#each scripts}}
  <script src={{this}}></script>
  {{/each}}
</body>

</html>
